<% layout('/layouts/boilerplate') %>

<a target="_self" href="/stores/new">add new store</a>

<div id="cluster-map"></div>


<% if(stores.length) { %>
<section> 
    <% stores.forEach(store => { %>
        <article>
            <%= store.name %>
            <a target="_self" href="/stores/<%=store.id%>">more info</a>
        </article>
    <% }) %>

</section>
<% } else { %>

    <p>no stores</p>
<% } %>

<script>
    const mapToken = '<%-process.env.MAP_TOKEN%>';
    const stores = { features: <%- JSON.stringify(stores) %>}
    console.log(stores);
</script>
<script src="/js/clusterMap.js"></script>