<% layout('/layouts/boilerplate') %>
<h2>add new store</h2>

<form method="POST" action="/stores">
    <label for="name">store</label>
    <input type="text" id="name" name="store[name]"/>
    <label for="location">location</label>
    <input type="text" id="location" name="store[location]"/>
    <labe for="note"l>Notes</label>
    <textarea type="text" id="note"  name="store[notes]">
    </textarea>
    <button type="submit">add store</button>  
</form>

