<% layout('/layouts/boilerplate') %>

<h1><%= book.title%></h1>
<p><%= book.owner.username %></p>

<a target="_self" href="/books/edit/<%=book._id%>">edit book</a>
<a target="_self" href="/books">go back to books</a>