<% layout('/layouts/boilerplate') %>
<h1>list of books</h1>

<a target="_self" href="/books/new">create new book</a>

<% books.forEach(book => { %>
    <h2><%= book.title %></h2>
    <a target="_self" href="/books/<%=book.id%>">more info</a>
<% }) %> 

