<% layout('/layouts/boilerplate') %>
<h1>list of books</h1>

<form method="POST" action="/books">
    <label for="title">title</label>
    <input type="text" id="author"  name="book[title]" required>
    <label for="author">author</label>
    <input type="text" id="author"  name="book[author]" required>

    <label for="description">description</label>
    <textarea type="text" id="description"  name="book[description]" required>
    </textarea>


    <label for="description">category</label>
    <input type="text" id="category"  name="book[category]" required>
    <button type="submit">submit</button>  
</form>


