<% layout('/layouts/boilerplate') %>
<h1>add book</h1>

<form method="POST" action="/books" enctype="multipart/form-data">
    <label for="title">title</label>
    <input type="text" id="author"  name="book[title]" required>
    <label for="author">author</label>
    <input type="text" id="author"  name="book[author]" >

    <label for="description">description</label>
    <textarea type="text" id="description"  name="book[description]" required>
    </textarea>

    <label for="image">image</label>
    <input type="file" name="image" id="image" accept="image/*">
    <label for="description">category</label>
    <select id="category"  name="book[category]" required>
        <% for(const category of categories) {%>
            <option value="<%=category%>"><%= category %></option>
        <% } %>
    </select>
    <button type="submit">submit</button>  
</form>


