<p>
    <% if (user) { %>
        <p>
            <a target="_self" href="/books">books</a>
        </p>
        <p>
            <a target="_self" href="/stores">stores</a>
        </p>
    <% } %>
    <% if (!user) {%>
        <p>
            <a target="_self" href="/login"> login</a>
            <a target="_self" href="/register"> register</a>
        </p>
    <% } %>
    <% if (user) { %>
        <p>
            <a target="_self" href="/logout"> logout</a>
        </p>
    <% } %>
</p>