@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Bold.ttf');
    font-weight: 700;  
}

@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Black.ttf');
    font-weight: 900;  
}

@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Italic.ttf');
    font-weight: 400;  
    font-style: italic;
}


:root {
    --offwhite: #f6f6f6;
    --white: #fff;
    --black: #000;
    --btn-radius: 28px;
    --not-quite-black: #23272a;

}

html {
    box-sizing: border-box;;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    line-height: 1.15;
    letter-spacing: 1.1px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 400;
    background: var(--offwhite);
}



	#map, #cluster-map {
         position: absolute; top: 250px; bottom: 0; width: 50%; 
    }

.home {
    background-image: url('../imgs/book_main.jpg');
    width: 100%;
    height: 100%;
}