<% layout('/layouts/boilerplate') %>

<h1>please register</h1>
<form action="/register" method="POST">
    <label for="firstName">first name</label>
    <input id="firstName" name="firstName" type="text" required autofocus>
    <label for="lastName">last name</label>
    <input id="lastName" name="lastName" type="text" required>
    <label for="email">email</label>
    <input id="email" name="email" type="text" required>
    <label for="username">username</label>
    <input id="username" name="username" type="text" required>
    <label for="password">password</label>
    <input id="password" name="password" type="password" required>
    <button type="submit">register</button>
</form>

