<% layout('/layouts/boilerplate') %>

<h1>reset password</h1>
<form method="POST" action="/password/<%=token%>?_method=PUT">
    <label for="password">new password</label>
    <input id="password" name="password" type="password" required>
    <label for="confirm">confirm</label>
    <input id="confirm" name="confirm" type="confirm" required>
    <button type="submit">submit</button>
</form>