<% layout('/layouts/boilerplate') %>

<h1>reset password</h1>
<form method="POST" action="/passwotd">
    <label for="password">new password</label>
    <input id="password" name="password" type="password" required>
    <button type="submit">submit</button>
</form>